<div class="row">
	<div class="col-12">
		<p>This paper has been published at the Conference on Human Factors in Computing Systems 2023 (CHI 2023):</p>
		<cite>Evropi Stefanidi, Marit Bentvelzen, Paweł W. Woźniak, Thomas Kosch, Mikołaj P. Woźniak, Thomas Mildner, Stefan Schneegass, Heiko Müller, and Jasmin Niess. Literature Reviews in HCI: A Review of Reviews in <i>Proceedings of the 2023 Conference on Human Factors in Computing Systems (CHI 2023).</i></cite>
		<p>Contact us via <a href="mailto:reviewofreviews@pawelwozniak.eu">email</a> if you want to add a new paper or issue corrections to existing articles.</p>
	</div>
</div>