<div class="row">
	<div class="col-12">
	    <p>This webpage runs a paper library about relevant papers that investigated the semantics and measurements of cognitive workload in Human-Computer Interaction. This library was originally developed for a literature review that is based on this paper:</p>
		<cite>Removed for review</cite>
		<p>Please cite this paper if you use this library for your work</p>
	    <p>You can suggest new papers by filling out our <a href="/article">Google Form</a>. This supports us and the community to maintain an up-to-date version of the paper library. We require all indexed publications be peer reviewed, in English, archival, and relevant to cognitive workload in Human-Computer Interaction. The authors of the paper manage the paper library.</p>
	    <p>Corrections or additions to included publications are also welcome. We are very open to making edits or adding labels we may have missed.</p>
	</div>
</div>